
<footer class="text-light py-5">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4">
                <h5>Về Chúng Tôi</h5>
                <p>Chúng tôi cung cấp dịch vụ tốt nhất để giúp bạn dễ dàng theo dõi và quản lý khách sạn của mình. Cam
                    kết mang lại sự hài lòng tối đa.</p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-4">
                <h5>Liên Kết Nhanh</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Trang chủ</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Dịch vụ</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Khuyến mãi</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Liên hệ</a></li>
                </ul>
            </div>

            <!-- Social Media -->
            <div class="col-md-4">
                <h5>Kết Nối Với Chúng Tôi</h5>
                <div class="d-flex">
                    <a href="#" class="text-light me-3">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a href="#" class="text-light me-3">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                    <a href="#" class="text-light me-3">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="#" class="text-light">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <hr class="border-light">
        <div class="text-center mt-3">
            <p>&copy; 2024 Công Ty Cổ Phần Quản Lý Khách Sạn. All rights reserved.</p>
        </div>
    </div>
</footer>
