<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chu</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/nhanvien"><i class="fa-solid fa-house"></i> Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
                    aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/lapphieuthuephong"><i class="fa-solid"></i>Lập phiếu thuê phòng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/findOrder"><i class="fa-solid fa-clipboard-list"></i> Tìm kiếm đơn đặt</a>
                    </li>
                </ul>
            </div>
                <a class="nav-link text-danger" href="/">
                    <img src="{{ current_user.avatar }}" width="25" class="rounded-circle"/>
                    Chào {{ current_user.tenDangNhap }}.
                </a>
        </div>
    </nav>
</header>
<div class="container">
    <header>
        <h1>Tìm Kiếm Đơn Hàng</h1>
    </header>

    <section class="search-section">
        <form method="GET" action="/findOrder">
            <label for="order-id">Mã đặt phòng:</label>
            <input type="text" id="order-id" placeholder="Nhập tên người đặt" name="thongTin">

            <button type="submit">Tìm kiếm</button>
        </form>
    </section>

    <section class="results-section">
        <h2>Kết quả tìm kiếm</h2>
        <table id="results-table">
            <thead>
            <tr>
                <th>Mã đặt</th>
                <th>Ngày nhận</th>
                <th>Ngày trả</th>
                <th>Trạng thái</th>
                <th>Loại phòng</th>
                <th>Lập phiếu thuê</th>
            </tr>
            </thead>
            <tbody>
            {% if phieuDatPhong != None %}
            {% for p in phieuDatPhong %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.ngayNhanPhong }}</td>
                <td>{{ p.ngayTraPhong }}</td>
                <td>{{ p.trangThai }}</td>
                <td>{{ p.loaiphong.tenLoaiPhong }}</td>
                <td>
                    <form method="POST" action="/lapphieuthuephong" class="btn btn-primary">
                        <input type="hidden" name = 'idPhieuDatPhong' value = '{{ p.id }}'>
                        <input type="hidden" name = 'ngayTraPhong' value = '{{ p.ngayTraPhong }}'>

                        <button type="submit">Lập</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <div class="alert alert-info mt-1">Không có phiếu đặt phòng nào.</div>
            {% endif %}
            </tbody>
        </table>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
</html>