{% extends "Layout/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-body text-center">
                    <h2 class="card-title text-success mb-4">Lập Phiếu Thuê Phòng Thành Công</h2>
                    <p class="card-text">Bạn đã lập phiếu thuê phòng thành công. Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi!</p>
                    <a href="/nhanvien" class="btn btn-primary mt-4">Quay Lại Trang Chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
